*{
    margin:0%;
    padding: 0%;
   font-family:sans-serif;
}
body{
    background-color:#080808;
    color: #fff;
}
#main{
    height: 100vh;
    width: 100%;
   background-image: url(SAVE_20231207_125032_1_-removebg.png);
    background-position: center;
    background-size: cover;
}
.container {
    padding: 10px 10%;

}
#logo{
    width: 140px;
    height:40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo h1 span{
    color:red;
}
nav {
   align-items: center;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    
}

nav ul li a:hover{
 text-decoration: underline;
 text-decoration-thickness: 3px;
 text-decoration-color: red;
 transition:0.5s;
 
}
.txt {
    margin-top: 17%;
    font-size: 20px;
}
.txt p{
    margin-top: 20px;
}
.txt h1{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.txt h1 span{
    color:red;
}
  
     /* ABOUT ME */

     
#about{
    color: #fff;
    padding-top: 90px;
    padding-bottom: 20px;
    
}
#row{
    flex-wrap: wrap;
    justify-content:space-between;
    display: flex;
    
}
#row1{
    flex-basis: 30%;
    margin-left: 5%;
    
}
#row1 img{
    width:100%;
    border-radius: 20px;
    transition: transform 0.5s ease ;
}
#row2{
    flex-basis: 50%;
    padding:10px;
    margin-right: 8%;
}
#row1 img:hover{
    transform: scale(115%);
}
#content {
    display : flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#row2 h1:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    text-decoration-color: red;
    transition: 0.5s;
    
}
#row2 p{
 margin-top:20px;
 

}
.x:hover{
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: red;
    transition:0.5s;
}
#content p{
  margin-right:20px;
  margin-top: 20px;
}
.xcontent ul{
  
  list-style: none;
}
.xcontent LI span{
    color: rgb(162, 8, 8);
   
}
.xcontent{
    display: none;
}
.xcontent.tab-content{
     display: block;
}
 /* ----------------------------------- */
#service{
    padding:50px;
}
#service h1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#service h1 span{
    color:red;
}
#service h2{
    font-size: 20px;
    
}
.item i{
    font-size: 50px;
    margin-bottom: 10px;
    color:  #fff;
}

.list{
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.list h2{
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(209, 4, 4);
}
.item{
    background-color:#262626;
    padding: 40px;
    border:solid 2px black;
    border-radius: 15px;
}
.item p{
    margin-bottom: 20px;
    font-weight: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item a{
 text-decoration-line: none;
 color: #fff;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.item:hover{
    transform: translateY(-12px);
    background-color: #ab244f;
    transition:transform 0.5 s;
}
#portfolio{
    margin-bottom:0;
}
.item:hover h2{
    color:#fff;
  }
 /* ------------------------ */
 #portfolio{
    padding:50px;
 }
.port{
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-gap: 30px;
}
#row1{
    border: solid 1px white;
    border-radius: 10px;
}
 #row2.xcontent{
    align-items: center;
}
#row2{
    border: solid 1px white;
    border-radius: 10px;    
}
.pt p{
    text-align: left;
}
.pt h2{
    text-align: center;
}
.pt{
    border:solid 2px;
    border-radius: 15px;
    background: linear-gradient(rgba(38, 38, 38, 0.6), #be134a);
    padding : 20px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.pt:hover{
    transform: translateY(-12px);
    transition:transform 0.5 s;
    background-color: #ff004f;
}
.port h2 {
    
}
.pt p{
    margin-top: 20px;
}
#row2 p{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#row2 h1 span{
    color:red;
}
.contact{
   
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.low{
    flex-wrap: wrap;
  justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
#cont h1{
    margin-top: 15%;
    padding-left: 0%;
    margin-left:0%;
}
.conl{
    flex-basis: 30%;
  margin-left: 20px;
  margin-bottom: 5%;
}
.conr{
    flex-basis: 60%;
    margin-top:0%;
}
.conl p{
    margin-top:18px;
}
.conl p i{
  margin-right: 20px;
  color:#ff004f;
  font-size: 15px;
}
/* .quote{
    width:fit-content;
    color: #080808;
   
    background-color: #ff004f;
    padding: 10px;
    margin-top: 30px;
}
.quote p{
  
    font-family: 'Times New Roman', Times, serif;

} */
.icons a{
    text-decoration: none;
    margin-top:25px;
    font-size: 30px;
    margin-right:12px;
    color: white;
    display: inline-block;
    transition:transform 0.5s;
  margin-bottom:15px;
}
   
.icons a:hover{
    color:#ff004f;
  transform :translateY(-5px);
}
.l{ 
    
  padding: 10px;
    text-decoration: none;
    border: solid 2px ;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
   margin-right: 5px;
    background-color: #ff004f;
    color:#080808;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.l:hover{
    background-color:#ab244f;
    transform :translateY(-5px);
    color:white;
}
.conr form{
    width:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}

form input, form textarea{
    border-radius: 6px;
    outline: none;
    border: none;
    width:100%;
     background-color: #262626;
     color:white;
     margin:10px 0;
     padding: 10px;
     font-size:18px;

}
.l.btn1{
 cursor:pointer;

 width:100px;
 height:45px;
}
.copyr{
    text-align:center;
    margin-top:30px;
    
    background-color:black;
    padding: 5px;
    width:100%;
    color:white;
}
.pt {
    padding:25px;
}
.copyr p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.copyr i{
    color: #ff004f;
}
.l{
    align-items: center;
    margin-top: 20px;
    box-shadow: 10px 10px 5px rgba(255, 0, 79,0.3) ;
}
.pt h2{
    text-align: center;
}
nav .fa-solid{
    display: none;
}

/* * ------------------CSS SMALL SCREEN----------------------- */
 @media (max-width: 600px){ */
    #main{
    background-position: center;
    background-color:black;
    
    }
    #logo h1{
        margin-top: 20px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container nav{
        margin-top: 20px;
    }
   

    nav .fa-bars{
        margin-top:30px;
        margin-left: 71%;
    }

    .txt p {
       font-weight:light;
        font-size: 16px;
        margin-top: 150%;
        font-family: 'Times New Roman', Times, serif;
    }
    .txt h1{
        font-size: 25px;
    }
    
nav .fa-solid{
     font-size: 20px;
    display:block;
}
nav ul{
    top:0;
    right: -200px;
    position: fixed;
    background: #ff004f;
    width:200px;
    height: 100vh;
    padding-top: 50px;
   z-index: 2;
   transition: right 0.5s;
}

nav ul LI{
    display: block;
    margin:25px;
}
nav .fa-solid{
   top:25px;
   left:25px;
   position: absolute;
    cursor:pointer;
}

#row2 h1{
  font-size: 25px;
}
#row1{
    flex-basis:90%;
    border:0px;
    margin-bottom: 30px;
}
#row2{
    flex-basis:100%;
    border:0px;
    padding-left: 30px;
    
}
#row2 p{
    font-size:14px;
    
    
}
#service h1{
    margin-left: 30px;
    align-self: center;
    font-size: 25px;
}
.item{
    align-self: center;
    margin-right: 50px ;
}

.conl,.conr{
    flex-basis: 100%;
   
}
.conr p{
    font-size: 15px;
}
.conl h1{
    font-size: 30px;
    margin-left: 20px;
    padding: 0%;
}
.conl{
    margin-bottom: 30px;
}
.conl p ,i{
    font-size: 12px;
}
.icons i{
    font-size: 25px;
}
#cont h1{
    font-size:25px;
    margin-top: 25%;
}
.copyr p{
    font-size: small;
}
.conl{
   
    padding-left: 5px;
   
}
 }
html{
    scroll-behavior: smooth;
}
.pt h2{
    color:black;
}
#sent{
    
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}